#api{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index:2000000000;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#loader_container{
    padding: 1vw;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px black;
}

#loader_container p{
    position: relative;
    width: 100%;
    text-align: center;
}

#loader_signal{
    position: relative;
    width: 128px;
    height: 61px;
    background-image: url("/492.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index:2000000001;
}