:root{
    --backgroundColor: #050505;
    --backgroundColor_light: #444;
    --backgroundColor_highlight: darkgoldenrod;
    --fontColor: #cacaca;
    --fontColor_persistent: #cacaca;
    --fontColor_highlight: darkgoldenrod;
    --border_color: #cacaca;
    --border_highlight: darkgoldenrod;
    --range_on: lime;
    --range_off: red;
    --button_body: #1E283C;
    --button_body_hover: #2850A0;
    --link: #2850A0;
    --link_visited: #1E283C;
    --boxShadow: 0px 0px 5px 0px transparent;
    --danger: darkred;
    --dangerHover: red;
}

::backdrop{
    background: black;
    opacity: 0.75;
}

.dialog{
    white-space: normal;
    width: 50ch;
    aspect-ratio: 1/1.25;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #EDEADE;
    border: 2px solid goldenrod;
}

.dialog h1{
    width: 100%;
    text-align: center;
}

.dialog li{
    margin: 0 0 1rem 0;
    list-style-type: "... ";
}

.dialog input{
    margin: 0 0 1rem 0;
}

.dialog button{
    margin: 0 0 1rem 1rem;
}

.lightMode{
    --backgroundColor: #EDEADE;
    --backgroundColor_light: #d2d2d2;
    --backgroundColor_highlight: goldenrod;
    --fontColor: #050505;
    --fontColor_highlight: goldenrod;
    --border_color: #050505;
    --border_highlight: goldenrod;
    --range_on: green;
    --range_off: darkred;
    --button_body: #2850A0;
    --button_body_hover: #1E283C;
    --boxShadow: 0px 0px 5px 0px #000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

label{
    color: var(--fontColor);
    color: var(--fontColor);
}

h1{
    position: relative;
    width: 100%;
    font-size: 1rem;
    color: var(--fontColor);
}

a{
    color: var(--link);
}
a:visited{
    color: var(--link_visited);
}

.textcontent{
    position: relative;
    width: 100%;
    color: var(--fontColor);
}

#app{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.leaflet-tooltip{
    max-width: 50ch;
    width: max-content;
    white-space: normal;
}

#sidebarToggle{
    position: relative;
    width: 1rem;
    height: 100%;
    background: var(--backgroundColor);
    border-right: 1px solid var(--border_color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#sidebarToggle:hover{
    cursor: pointer;
    background: var(--backgroundColor_light);
}

#sidebar{
    background-color: var(--backgroundColor);
    display: block;
    position: absolute;
    top: 0;
    left: 0rem;
    overflow-y: scroll;
    direction: rtl;
    z-index:1000;
    transition: 0.5s;
    box-shadow: var(--boxShadow);
}

#sidebarFlags{
    direction: ltr;
    background: var(--backgroundColor);
    position: relative;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    overflow: hidden;
}

.flagButton{
    position: relative;
    height: 100%;
    aspect-ratio: 1.5/1;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flagButton > svg{
    position: relative;
    width: 90%;
    height: 90%;
}

.flagButton:hover{
    cursor: pointer;
    background-color: var(--backgroundColor_light);
}

.sidebarInner{
    background: var(--backgroundColor);
    position: relative;
    direction: ltr;
    margin: 1rem 1rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

#map{
    position: relative;
    height: 100%;
    display: flex;
    flex-grow: 1;
    cursor:auto;
}

#map:active{
    cursor: grabbing;
}

.sidebar_inputArea{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sidebar_area{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 0 0.5rem 0;
}
.sidebar_area:last-child{
    margin: 0;
}

.sidebar_area_wrap{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 0.5rem 0;
    border: 2px solid var(--border_color);
    box-sizing:border-box;
}
.sidebar_area_wrap:last-child{
    margin: 0 0 1rem 0;
}

.sidebar_area_details{
    position: relative;
    width: 100%;
    margin: 0 0 0.5rem 0;
}

.sidebar_area_summary{
    color:var(--fontColor);
    font-size: 1rem;
    background: var(--button_body);
    padding: 0.25rem;
    user-select: none;
}

.sidebar_area_summary:hover{
    cursor: pointer;
}

.sidebar_area_label{
    width: 100%;
    text-align: center;
    margin: 0.5rem;
}

.sidebar_area_select{
    position: relative;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    background: var(--backgroundColor);
    color: var(--fontColor);
}

.sidebar_textarea,
.sidebar_textarea_large,
.sidebar_textarea_large_noMargin{
    position: relative;
    width: 65%;
    height: 100%;
    border: 0;
    background:var(--backgroundColor_light);
    color: var(--fontColor);
    font-family: monospace;
    padding: 0;
    resize: vertical;
    min-height: 5rem;
}

.sidebar_textarea_large,
.sidebar_textarea_large_noMargin{
    width: 100%;
    margin: 0.5rem;
}

.sidebar_textarea_large_noMargin{
    margin: 0;
}

.sidebar_input_large,
.sidebar_input_large_noMargin{
    position: relative;
    width: 100%;
    height: 1.5rem;
    border: 0;
    background:var(--backgroundColor_light);
    color: var(--fontColor);
    font-family: monospace;
    padding: 0;
    margin: 0.5rem;
}

.sidebar_input_large_noMargin{
    margin: 0;
}


.sidebar_button,
.sidebar_button_large{
    position: relative;
    width: 30%;
    background: var(--button_body);
    color: var(--fontColor_persistent);
    border: 0;
    min-height: 5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_button_large{
    width: 100%;
    min-height: 2rem;
    margin: 0.5rem 0;
}

.sidebar_button:hover,
.sidebar_button_large:hover{
    cursor: pointer;
    background: var(--button_body_hover);
}

.sidebar_button_delete{
    color: var(--fontColor_persistent);
    background: var(--danger);
}

.sidebar_button_delete:hover{
    background: var(--dangerHover);
}

#toolbar{
    position: absolute;
    bottom: 1.5rem;
    right: 10px;
    height: 3rem;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    overflow: visible;
}

.toolbar_button{
    position: relative;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--backgroundColor);
    margin: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.toolbar_button > svg{
    position: relative;
    width: 90%;
}

.toolbar_button:hover{
    cursor: pointer;
    background: var(--backgroundColor_light);
}

#zoom{
    position: absolute;
    top: 10px;
    left: calc(25vw + 1rem + 10px);
    background: var(--backgroundColor);
    z-index: 1000;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: var(--boxShadow);
}

#zoom:hover{
    cursor: pointer;
}

#zoomIn,
#zoomOut {
    position: relative;
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: bolder;
}

#zoomIn:hover,
#zoomOut:hover{
    background: var(--backgroundColor_light);
}

#zoomIn > svg,
#zoomOut > svg{
    position: relative;
    width: 50%;
}

#polylineField{
    position: absolute;
    top: 0;
    left: calc(50% + 25vw);
    transform: translateX(calc(-50% - 12.5vw));
    background: var(--backgroundColor);
    z-index:1000;
    color: var(--fontColor);
    overflow-y:scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    font-family: monospace;
    box-shadow: var(--boxShadow);
}

.polylineField_lineFeed{
    position:relative;
    width: 100%;
}

#polylineField_table{
    position: relative;
    width: 90%;
    border-collapse: collapse;
    margin: 0.5rem 0;
}

#polylineField_table_head > tr {
    background: var(--backgroundColor_highlight);
}

#polylineField_table_head > tr > th {
    text-align: left;
    padding: 0.25rem 1rem;
    color: var(--backgroundColor);
}

#polylineField_table_body > tr:nth-child(even){
    background: var(--backgroundColor_light);
}

#polylineField_table_body > tr > td {
    padding: 0.25rem 1rem;
}

#layerGroup{
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--backgroundColor);
    z-index:1200;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    place-items: center center;
    font-family: monospace;
    padding: 0.25rem;
    transition: 0.2s;
    max-height: 90vh;
    user-select: none;
    box-shadow: var(--boxShadow);
}

#layerGroup > svg{
    position: relative;
    width: 90%;
}

#layerGroup:hover{
    cursor: pointer;
}

.layerGroup_column{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: var(--backgroundColor);
}

.layerGroup_column_name{
    position: relative;
    width: 100%;
    text-align: left;
    background: var(--backgroundColor_highlight);
    padding: 0.25rem;
}

.layerGroup_column_content{
    position: relative;
    width: 100%;
    color: var(--fontColor);
}

.layerGroup_column_content_item{
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.layerGroup_column_content_item:hover{
    background: var(--backgroundColor_light);
}

.layerGroup_column_content_item input{
    position: relative;
    margin: 0.125rem;
    height: 50%;
    aspect-ratio: 1/1;
}

.layerGroup_column_content_label{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: monospace;
    font-size: 0.875rem;
}

.layerGroup_column_content_label:hover{
    cursor: pointer;
}

.basemapSelect{
    position: relative;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    box-sizing:border-box;
    border: 2px solid var(--border_color);
}

.basemapSelect:hover{
    cursor: pointer;
}

.basemapSelect_inner{
    position: relative;
    height: calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
    display: flex;
    box-sizing:border-box;
}

.basemapSelect_inner > .leaflet-control-container{
    display: none;
}

.selectedBorder{
    border: 2px solid var(--border_highlight);
}

#vfrLayerDrawer{
    position: absolute;
    right: calc(-75vw + 5rem + 10px - 0.125rem);
    bottom: calc(1.5rem + 3rem + 10px - 0.125rem);
    width: calc(100vw - 25vw - 1rem - 10px);
    min-height: 6rem;
    z-index: 1001;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

#vfrLayerDrawerTrigger{
    position: absolute;
    bottom: 0;
    width: 3rem;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--backgroundColor) 50%, var(--backgroundColor) 100%);
}

#vfrLayerDrawerTrigger:hover{
    cursor:pointer;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--backgroundColor_light) 50%, var(--backgroundColor_light) 100%);
}

#vfrLayerDrawerTrigger > svg{
    position: relative;
    width: 80%;
    height: 45%;
    margin: 0 auto 5% auto;
}
#vfrLayerDrawerTrigger:before{
    position: absolute;
    width: 100%;
    height: 50%;
    content: "";
    box-shadow: var(--boxShadow);
}

#vfrLayerDrawerInner{
    position: absolute;
    bottom: 0;
    margin: 0 0 0 4rem;
    width: calc(100% - 5rem);
    padding: 0.5rem;
    min-height: 6rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    background: var(--backgroundColor);
    box-shadow: var(--boxShadow);
}

.layerButton{
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    margin: auto;
    border: 0;
    outline: 0;
    background-color: var(--button_body);
    color: var(--fontColor_persistent);
}

.layerButton:hover{
    cursor: pointer;
    user-select: none;
    background-color: var(--button_body_hover);
}

.sidebarInner_settings_item{
    position: relative;
    width: 100%;
    height: 3rem;
    color: var(--fontColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--border_color);
    margin: 0 0 0.5rem 0;
    padding: 0 0 0.5rem 0;
}

.sidebarInner_settings_title{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
}

.sidebarInner_settings_rangebox{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebarInner_settings_rangebox:hover{
    cursor: pointer;
}

.sidebarInner_settings_rangebox > input{
    position: relative;
    width: 2rem;
    pointer-events: none;
    display: none;
}

.custom_range_track{
    position: relative;
    width: 2rem;
    height: 1rem;
    border: 1px solid var(--border_color);
    border-radius: 50px;
}

.custom_range_thumb{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.75rem;
    aspect-ratio: 1/1;
    transition: 0.5s;
    border-radius: 180px;
}

.off{
    background-color: var(--range_off);
}

.on{
    background-color: var(--range_on);
}

.range_thumb_left{
    left: 0.125rem;
}

.range_thumb_right{
    right: 0.125rem;
}

#coords{
    position: absolute;
    bottom: 1.5rem;
    left: calc(25vw + 1rem + 10px);
    z-index: 1010;
    width: 15rem;
    background: var(--backgroundColor);
    color: var(--fontColor);
    font-size: 0.75rem;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s;
    box-shadow: var(--boxShadow);
}

.coords_box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    width: 90%;
}

.coords_box_title{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.coords_box_content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#alternativeQueryAll{
    position: absolute;
    top: 10px;
    left: calc(1rem + 10px);
    z-index: 999;
    width: calc(25vw - 1rem + 5px);
    min-height: 3rem;
    max-height: 75vh;
    background: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

#alternativeQueryAll_textbox{
    position: relative;
    width: calc(85% - 0.25rem);
    min-height: calc(3rem - 0.5rem);
    height: calc(100% - 0.5rem);
    border: 0;
    padding: 0;
    background:var(--backgroundColor_light);
    color: var(--fontColor);
    font-family: monospace;
    resize:vertical;
}

#alternativeQueryAll_textbox:focus{
    border: 0;
    outline: 0;
}

.alternativeQueryAll_button{
    position: relative;
    width: calc(15% - 0.25rem);
    min-height: calc(3rem - 0.5rem);
    height: calc(100% - 0.5rem);
    background: var(--button_body);
    color: var(--fontColor_persistent);
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternativeQueryAll_button:hover{
    cursor: pointer;
    background: var(--button_body_hover);
}

.alternativeQueryAll_button > svg{
    position: relative;
    width: 50%;
}

.contextMenu{
    position: absolute;
    z-index: 1200;
    background: var(--backgroundColor);
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: var(--boxShadow);
}

.contextMenu:hover{
    cursor: pointer;
}

.contextMenu hr{
    position: relative;
    width: 100%;
}

.contextMenu_item{
    position: relative; 
    width: 100%;
    color: var(--fontColor);
    padding: 0.25rem;
    font-size: 0.75rem;
}

.contextMenu_item:hover{
    background: var(--backgroundColor_light);
}

.layerItem:hover{
    cursor: crosshair;
}
.toolboxUpdatesWrapper{
    position: relative;
    width: 100%;
}

.toolboxUpdatesSpoiler{
    position: relative;
    width: 100%;
    background: var(--backgroundColor_highlight);
    color: black;
    font-size: 0.8rem;
}

.toolboxUpdatesSpoiler:hover{
    cursor: pointer;
}

.toolboxUpdatesSpoiler_title{
    padding: 0.5rem;
    font-size: 1rem;
}

.toolboxUpdatesSpoiler_content{
    position: relative;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.toolboxUpdatesSpoiler_newsTitle{
    font-weight: bold;
    margin: 0;
}

.toolboxUpdatesSpoiler_hr{
    position: relative;
    width: 100%;
}

.updateAlert1{
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: red;
}

.updateAlert2{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: red;
}

.notamContainer{
    position: relative;
    width: 100%;

    overflow: hidden;
}

.notamSpoiler{
position: relative;
    overflow: hidden;
}

.notamSpoilerTitle{

    padding: 8px; /* Add some padding */
    cursor: pointer;
    
    /* Ellipsis setup */
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
 white-space: nowrap;
    
    /* Remove default marker */
    list-style: none;
}
.notamSpoilerContent{
    width: 100%;
    max-width: 100%;
    padding: 8px;
    overflow: auto; /* Allow scrolling if content is too long */
    word-wrap: break-word; /* Break long words */
}