:root{
    --backgroundColor: #000;
    --backgroundColor_light: #2a2a2a;
    --backgroundColor_highlight: darkgoldenrod;
    --fontColor: #fff;
    --fontColor_highlight: darkgoldenrod;
    --border_color: #fff;
}

.lightMode{
    --backgroundColor: #fff;
    --backgroundColor_light: #d2d2d2;
    --backgroundColor_highlight: goldenrod;
    --fontColor: #000;
    --fontColor_highlight: goldenrod;
    --border_color: #000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#app{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#sidebarToggle{
    position: relative;
    width: 1rem;
    height: 100%;
    background: var(--backgroundColor);
    border-right: 1px solid var(--border_color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#sidebar{
    background-color: var(--backgroundColor);
    display: block;
    position: absolute;
    top: 0;
    left: 0rem;
    height: 100%;
    width: calc(25vw + 1rem);
    overflow-y: scroll;
    direction: rtl;
    z-index:1000;
    transition: 0.5s;
}

#sidebarFlags{
    direction: ltr;
    background: var(--backgroundColor);
    position: relative;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    overflow: hidden;
}

.flagButton{
    position: relative;
    height: 100%;
    aspect-ratio: 1.5/1;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
}

.flagButton > svg{
    position: relative;
    width: 90%;
    height: 90%;
}

.flagButton:hover{
    cursor: pointer;
    background-color: var(--backgroundColor_light);
}

.sidebarInner{
    background: var(--backgroundColor);
    position: relative;
    direction: ltr;
    margin: 1rem 1rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

#map{
    position: relative;
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.sidebar_inputArea{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sidebar_area{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 0 0.5rem 0;
}
.sidebar_area:last-child{
    margin: 0;
}

.sidebar_area_wrap{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 0.5rem 0;
    border: 2px solid var(--border_color);
    box-sizing:border-box;
}
.sidebar_area_wrap:last-child{
    margin: 0 0 1rem 0;
}

.sidebar_area_details{
    position: relative;
    width: 100%;
    border-bottom: 2px solid var(--border_color);
}

.sidebar_area_summary{
    color:var(--fontColor);
    border-bottom: 2px solid var(--border_color);
}

.sidebar_area_label{
    width: 100%;
    text-align: center;
    font-family: "Arial";
    color: var(--fontColor);
    margin: 0.5rem;
}

.sidebar_area_select{
    position: relative;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    background: var(--backgroundColor);
    color: var(--fontColor);
}

.sidebar_textarea,
.sidebar_textarea_large,
.sidebar_textarea_large_noMargin{
    position: relative;
    width: 65%;
    height: 100%;
    border: 0;
    background:var(--backgroundColor_light);
    color: var(--fontColor);
    font-family: monospace;
    padding: 0;
    resize: vertical;
    min-height: 5rem;
}

.sidebar_textarea_large,
.sidebar_textarea_large_noMargin{
    width: 100%;
    margin: 0.5rem;
}

.sidebar_textarea_large_noMargin{
    margin: 0;
}

.sidebar_button,
.sidebar_button_large{
    position: relative;
    width: 30%;
    background: var(--backgroundColor);
    color: var(--fontColor);
    min-height: 5rem;
    margin: 0;
    padding: 0;
    border: 2px solid var(--border_color);
    box-sizing: border-box;
}

.sidebar_button_large{
    width: 100%;
    min-height: 2rem;
    margin: 0.5rem 0;
}

.sidebar_button:hover,
.sidebar_button_large:hover{
    cursor: pointer;
    background: var(--backgroundColor_light);
}

#toolbar{
    position: absolute;
    bottom: 1.5rem;
    right: 10px;
    height: 3rem;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}

.toolbar_button{
    position: relative;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--backgroundColor);
    color: var(--fontColor);
    margin: 0 0.25rem;
}
.toolbar_button:hover{
    cursor: pointer;
    background: var(--backgroundColor_light);
}

#zoom{
    position: absolute;
    top: 10px;
    left: calc(25vw + 1rem + 10px);
    width: 1.5rem;
    height: 3rem;
    background: var(--backgroundColor);
    z-index: 1000;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#zoomIn,
#zoomOut {
    position: relative;
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: bolder;
}

#zoomIn:hover,
#zoomOut:hover{
    background: var(--backgroundColor_light);
}

#polylineField{
    position: absolute;
    top: 0;
    left: calc(50% + 25vw);
    transform: translateX(calc(-50% - 12.5vw));
    width: 50vw;
    height: 9rem;
    background: var(--backgroundColor);
    z-index:1000;
    color: var(--fontColor);
    overflow-y:scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    font-family: monospace;
}

.polylineField_lineFeed{
    position:relative;
    width: 100%;
}

#polylineField_table{
    position: relative;
    width: 90%;
    border-collapse: collapse;
    margin: 0.5rem 0;
}

#polylineField_table_head > tr {
    background: var(--backgroundColor_highlight);
}

#polylineField_table_head > tr > th {
    text-align: left;
    padding: 0.25rem 1rem;
    color: var(--backgroundColor);
}

#polylineField_table_body > tr:nth-child(even){
    background: var(--backgroundColor_light);
}

#polylineField_table_body > tr > td {
    padding: 0.25rem 1rem;
}

#layerGroup{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    background: var(--backgroundColor);
    z-index:1000;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    place-items: center center;
    font-family: monospace;
    padding: 0.25rem;
    transition: 0.2s;
}

#layerGroup > svg{
    position: relative;
    width: 90%;
    height: 90%;
}

#layerGroup:hover{
    cursor: pointer;
}

.layerGroup_column{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: var(--backgroundColor);
}

.layerGroup_column_name{
    position: relative;
    width: 100%;
    text-align: left;
    background: var(--backgroundColor_highlight);
}

.layerGroup_column_content{
    position: relative;
    width: 100%;
    color: var(--fontColor);
}

.layerGroup_column_content_item{
    position: relative;
    width: 90%;
}

.basemapSelect{
    position: relative;
    height: 2rem;
    width: 100%;
    background: red;
    margin: 0.5rem 0;
}

#vfrLayerDrawer{
    position: absolute;
    right: calc(-75vw + 5rem + 10px - 0.125rem);
    bottom: calc(1.5rem + 3rem + 10px);
    width: calc(100vw - 25vw - 1rem - 10px);
    height: 5rem;
    background: var(--backgroundColor);
    z-index: 1001;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

#vfrLayerDrawerTrigger{
    position: relative;
    width: calc(4rem + 0.125rem);
    height: 100%;
    border-right: 1px solid var(--border_color);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#vfrLayerDrawerTrigger > svg{
    position: relative;
    width: calc(90% - 1rem - 0.125rem);
    aspect-ratio: 1/1;
    margin: 0 0 0 10%;
}

#vfrLayerDrawerInner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.layerButton{
    position: relative;
    height: calc(100% - 1rem);
    aspect-ratio: 4/3;
    border: 0;
    outline: 0;
    margin: 0 0.5rem 0 0;
}

.layerButton:first-child{
    margin: 0 0.5rem 0 0.5rem;
}

.layerButton:last-child{
    margin: 0;
}

